@media  screen and (max-width:500px){
    .card{
        display: contents;
    }
}

.btn:hover{
    background-color: #6e0aef;
    border-color: #6e0aef;
}

.btn-check:checked+.btn, :not(.btn-check)+.btn:active, .btn:first-child:active, .btn.active, .btn.show{
    background-color: #6e0aef;
    border-color:#6e0aef;
}

.btn-success:focus{
    background-color:#6e0aef;
    
}

.btn:focus-visible{
    background-color: #6e0aef;
    border-color:#6e0aef;
}

.btn-success{
    --mdb-btn-box-shadow-state: 0 8px 9px -4px var(--mdb-purple), 0 4px 18px 0 rgba(19, 156, 73, 0.2);
}

#button1{
    margin-left: 50%;
    border: none;
    color: white;
    background-color: #6e0aef;
}

#button2{
    border: none;
    color: white;
    background-color: #6e0aef;
}

/* .card{
    display: contents;
} */

.btn{
    background-color: #6e0aef;
}

#submit {
    color: var(--mdb-white) !important;
}

#loginHere {
    text-decoration: none;
}

.btn-success{
    --mdb-btn-box-shadow: 0 4px 9px -4px #6e0aef;
}